
body{
    background-color: #f5ead7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#s1{
    height: 20%;
}

#s2{
    padding-left: 3em;
    padding-right: 3em;
}

section {
    display: flex;
    border-bottom: 1px solid black;
    
}

article {
    background-color: #f5f0e9;
    padding: 10px;
    margin: 10px;
    border: 1px solid whitesmoke;
}

form{
    background-color: #f5f0e9;
    padding-left: 1em;
    padding-right: 1em;
}

#left{
    float: left;
}

#right{
    float: right;
    padding-left: 15em;
}

#im{
    float:right;
}
img:hover{
    filter: grayscale(0);
	transform: scale(1.1);
}